
html, body {
    height: 100%;
    width: 100%;
    margin: 0%;
}
body {
    align-items: center;
    justify-content: center;
    
}
.navBar {
    background-color: #2E3944;
    color: #748D92;
    height: 25px;
    text-align: center;
    padding: 25px;
    justify-content: space-around;
    display: flex;
}
a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: #748D92;
}
.links {
    text-align: center;
}
.row {
    display: table;  
    text-align: center;
    width: 100%;
    background-color: #212A31;
    color: #D3D9D4;
}
.row1 {
    display: table;  
    text-align: center;
    width: 100%;
    background-color: #212A31;
    color: #D3D9D4;
    padding-bottom: 20px;
}
.columnPic {
    padding-top: 40px;
    padding-bottom: 20px;
    width: 50%;
    float: right;
    text-align: center;

}
.columnText {
    padding-top: 80px;
    width: 50%;
    float: left;
}
.aboutPics {
    padding-right: 20px;
    width: 60px;
    height: 60px;
}
.resume {
    text-align: center;
}
.langButton {
   background-color: #748D92;
    color: #212A31;
    border: none;
    padding: 8px 16px;
}
.projButton {
    background-color: #748D92;
    color: #212A31;
    border: none;
    padding: 8px 16px;
}
p {
    text-align: center;
}
h1 {
    text-align: center;
}
