@font-face {
    font-family:HelveticaNow;
    src: url(helveticanowtext-black-demo.ttf);
}
html, body {
    height: 100%;
    width: 100%;
    margin: 0%;
}
body {
    align-items: center;
    text-align: center;
    justify-content: center;
    font-family: "HelveticaNow";
}
.navBar {
    background-color: #2E3944;
    color: #748D92;
    height: 2%;
    text-align: center;
    padding: 2%;
    justify-content: space-around;
    display: flex;
}
a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: #748D92;
}
.wrapper {
    padding-left: 10%;
    padding-right: 10%;
    margin-left: 10%;
    margin-right: 10%;
}
.links {
    text-align: center;
}
.row {
    display: table;  
    text-align: center;
    flex-basis: 100%;
    background-color: #212A31;
    color: #D3D9D4;
    padding-bottom: 5%;
    width: 100%;
    
    
}
.row1 {
    display: flex;  
    width: 100%;
    text-align: center;
    background-color: #212A31;
    color: #D3D9D4;
    padding-bottom: 5%;
    padding-left: 10%;
    padding-right: 10%;
}
.columnPic {
    width: 50%;
    text-align: center;
    vertical-align: middle;
   
    float:right
}
img {
    vertical-align: middle;
    padding: 10%;
}
.columnText {
    width: 50%;
    padding-top: 10%;
    padding-bottom: 10%;
    
    text-align: center;
    vertical-align: middle;
    float:left
}
.fa {
    flex-basis: 15%;
    padding: 3%;
}
.aboutPics {
    width: 120%;
    height: 120%;
}
.resume {
    text-align: center;
}
.langButton {
   background-color: #748D92;
    color: #212A31;
    border: none;
    padding: 2% 4%;
    border-radius: 4%;
    font-family: "HelveticaNow";
}
.projButton {
    background-color: #748D92;
    color: #212A31;
    border: none;
    padding: 2% 4%;
    border-radius: 4%;
    font-family: "HelveticaNow";
}
p {
    text-align: center;
    vertical-align: middle;
    padding-bottom: 5%;
}
h1,h2 {
    text-align: center;
    vertical-align: middle;
}

@media screen and (max-width: 600px) {
    .columnPic,.columnText  {
        width:100%
    }
}